<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta Data-->
    <%- include('partial/title.ejs'); %>

        <% if (data.NODE_ENV == 'production') { %>
            <!-- Production Stylesheets -->
            <link rel="stylesheet" href="assets/production/css/about.min.css">

            <% }else { %>
                <!-- Development Stylesheets -->
                <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
                <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css">
                <link rel="stylesheet" href="assets/lib/css/responsive.css">
                <link rel="stylesheet" href="assets/lib/css/select2.min.css">
                <link rel="stylesheet" href="assets/lib/css/spacing.css">
                <link rel="stylesheet" href="assets/lib/css/style.css">
                <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css">
                <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css">
                <link rel="stylesheet" href="assets/lib/css/magnific-popup.css">
                <link rel="stylesheet" href="assets/css/header.css">

                <% } %>
</head>

<body onLoad="typeWriter()">
    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>


        <!--About Start-->
        <div class="about-page pt_60 pb_30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Our Mission</h3>
                        <ul>
                            <li>We shall have the organizational culture based on spirituality.</li>
                            <li>We shall be leading healthcare provider of quality medical services.</li>
                            <li>We shall be known for distinct community work.</li>
                            <li>We shall have committed satisfied employees.</li>
                            <li>We shall achieve this by innovative resourcing and funding activities.</li>
                        </ul>
                        <br>
                        <h3>Our Vision</h3>
                        <p>With the aim of achieving these objectives, the Hospital is committed to establishing necessary facilities of international standards, conducting research programs in various fields of health/patient care and ensuring that the
                            research findings are translated into improvements in patient care. The Hospital also aims at developing professional management, creating an environment conducive to team spirit, and is always ready to resolve acute and chronic
                            health problems of patients and to promote preventive medical care in the society at large.</p>
                        <p>Our ultimate objective is to see that each patient leaves this Hospital with improved physical and mental health and with the feeling that the institution exists only for the patient and that the “patient is always the most important
                            individual here”. Every employee of a hospital is encouraged to develop him or herself and rise further in the organization. Employee’s Performance is evaluated on a number of factors such as job knowledge, competency, initiative
                            and creativity, interpersonal? relationship and discipline and adherence to spiritual principles of the organization.<br></p>
                        <p>"With love and devotion we will offer everyone a modern, scientific, holistic health care service based on true awareness and understanding of the needs of the body, mind and soul”<br></p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!--About End-->

        <!--Footer-->
        <%- include('partial/footer.ejs'); %>

            <script>
                var i = 0;
                var txt = 'WELCOME TO UPPOINTED';
                var speed = 60;

                function typeWriter() {
                    if (i < txt.length) {
                        document.getElementById("typeit").innerHTML += txt.charAt(i);
                        i++;
                        setTimeout(typeWriter, speed);
                    }
                }
            </script>

            <!-- JavaScript -->
            <script defer src="assets/lib/js/jquery-3.4.1.min.js"></script>
            <script defer src="/assets/lib/js/popper.min.js"></script>
            <script defer src="assets/lib/js/bootstrap.bundle.min.js"></script>
            <script defer src="assets/lib/js/all.min.js"></script>
            <script defer src="assets/lib/js/select2.full.min.js"></script>
            <script defer src="assets/js/about.js"></script>

</body>

</html>